.AccordionRoot {
  @apply w-full;
  @apply flex;
  @apply flex-col;
}

.AccordionItem {
  overflow: hidden;
  @apply px-2;
  @apply md:px-0;
  @apply p-2;
  @apply border-l-2;
  @apply border-gray-100;
}

.AccordionItem[data-state='open'] {
  @apply border-l-2;
  @apply bg-gray-50;
  @apply border-gray-200;
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
}

.AccordionTrigger:hover {
  background-color: var(--mauve2);
}

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  @apply pt-4;
  @apply px-2;
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
