@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

body {
  @apply text-black;
  @apply text-opacity-90;
  @apply dark:bg-black;
  @apply dark:text-white;
  @apply dark:text-opacity-80;
}

button {
  /* reset */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

a,
button {
  @apply text-black;
  @apply dark:text-white;
  @apply text-opacity-90;
  text-decoration: none;
}

p a {
  @apply text-blue-600;
}

a:hover {
  text-decoration: underline dotted;
}

select {
  @apply bg-gray-200;
  @apply py-3;
  @apply px-4;
}

section {
  @apply px-2;
}

h1 {
  @apply text-xl;
  @apply font-semibold;
  @apply mb-3;
}

h2 {
  @apply text-lg;
  @apply font-semibold;
  @apply mb-2;
}

h3 {
  @apply text-base;
  @apply font-semibold;
  @apply text-gray-700;
  @apply dark:text-zinc-400;
  @apply mb-1;
}

ul {
  @apply list-disc;
  @apply ml-6;
}

p {
  @apply my-2;
}

th {
  @apply bg-gray-200;
  @apply py-2;
  @apply px-4;
  @apply font-semibold;
}

td {
  @apply bg-white;
  @apply text-sm;
  @apply p-1.5;
}

.timetable-header {
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 7rem;
}

.tabular {
  font-family: "Inter";
  font-feature-settings: "tnum" 1;
}

.fill-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fill-page > footer {
  margin-top: auto;
}

footer {
  @apply font-light;
}

#map {
  isolation: isolate;
}

.grayHeader, h4, .sanityContent h4 {
  @apply bg-gray-200;
  @apply dark:bg-zinc-800;
  /* @apply text-zinc-800;
  @apply dark:text-gray-200; */
  @apply font-semibold;
  @apply px-2;
  @apply py-1;
  @apply text-sm;
  /* font-family: "IBM Plex Sans"; */
  font-family: "Inter";
  @apply mt-4;
}

.sanityContent h4 {
  @apply mt-2;
}


.grayTitle {
  @apply bg-gray-100;
  @apply dark:bg-zinc-700;
  @apply text-zinc-700;
  @apply dark:text-gray-100;
  @apply font-semibold;
  @apply px-2;
  @apply py-2;
  @apply text-lg;
  @apply mt-2;
}

.sanityContent p, .sanityContent ul, .sanityContent ol {
  @apply pl-4;
  @apply md:pl-2;
  @apply my-3;
}