@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Archivo";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline dotted;
}

select {
  @apply bg-gray-200;
  @apply py-3;
  @apply px-4;
}

section {
  @apply p-4;
}

h1 {
  font-family: "IBM Plex Sans";
  @apply text-2xl;
  @apply font-bold;
  @apply mb-2;
}

h2 {
  @apply text-xl;
  @apply font-semibold;
  @apply mb-2;
}

h3 {
  @apply text-lg;
  @apply font-semibold;
  @apply text-gray-600;
  @apply mb-1;
}

h4 {
  @apply text-base;
  @apply font-semibold;
  @apply text-gray-600;
  @apply mb-1;
}

p {
  @apply my-2;
}

th {
  @apply bg-gray-200;
  @apply py-2;
  @apply px-4;
  @apply font-semibold;
}

td {
  @apply bg-white;
  @apply text-sm;
  @apply p-2;
}

.timetable-header {
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 6rem;
}

.tabular {
  font-family: "Inter";
  font-feature-settings: "tnum" 1;
}

footer {
  @apply font-light;
}